body {
  font-family: 'Comic Sans MS', 'Poppins', sans-serif;
  color: #444;
}

h1, h2, h3 {
  color: #e75480;
  margin-bottom: 15px;
}

.text-pink {
  color: #e75480;
}

a:hover {
  color: #ffe4e9 !important;
}

.walking {
  position: relative; 
  animation: walk 6s infinite linear;
  max-width: 150px;              
}

@keyframes walk {
  0%   { left: -100%; }
  50%  { left: 50%; }
  100% { left: 100%;  }
}

.card-img-top {
  height: 500px;          
  object-fit: cover;      
}
